# Add any directories, files, or patterns you don't want to be tracked by version control  
/.metadata/  
.classpath  
.editorconfig  
.factorypath  
.gitattributes  
.idea/codeStyles/  
.idea/inspectionProfiles/  
.idea/modifysf.iml  
.idea/modules.xml  
.idea/typescript-compiler.xml  
.idea/workspace.xml  
.mvn/  
.project  
.settings/
*.iml 
 
mvnw.cmd  
node/  
node_modules/  
package-lock.json  
src/main/webapp/assets/sf/manifest.json  
src/main/webapp/assets/sumfox-logo-167x33-Copy.png  
target/  
yarn.lock  
/.idea/jsLibraryMappings.xml  
/.idea/libraries/tsconfig_roots.xml  
/.vscode/settings.json  
/out/production/main/com/eclinso/sumfox/config/MethodSecurityConfiguration.txt  
/src/main/main.iml  
/.idea/misc.xml  
/.idea/libraries  
.idea  
libraries 
out/